@model Mars.Rover.Core.Plateau.PlateauInstance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plateau</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Rover" asp-route-id="@Model.Id" class="btn btn-primary">Run Movements</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
